.background-slider {
    width: 100%;
    height: 200px; 
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite;
  }
  
  @keyframes slide {
    0% {background-image: url('../assets/slid5.jpeg');}
    25% { background-image: url('../assets/slid2.jpeg'); }
    50% { background-image: url('../assets/slid3.jpeg'); }
    75% { background-image: url('../assets/slid4.jpeg'); }
    100% { background-image: url('../assets/slid5.jpeg'); }
  }
  