.main-content {
    text-align: center;
    padding: 2rem;
    background-color: white;
    color: #333;
  }
  
  .main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .main-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .main-content button {
    background-color: #0033cc; /* Blue */
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .main-content button.donate-now {
    background-color: #800000; /* Maroon */
  }
  